.title{
  color: $text-color;
  padding-top: 1em;
  padding-bottom: 1em;
}

.side-padding {
  padding-left: 2em;
  padding-right: 2em;
}

.text{
  color: $text-color;
}

a {
  color: $chat-horse-secondary;
}